:root {
  --main-color-1: #1b2d4b;
  --main-color-2: #3B65A9;
  --main-color-3: #668dcc;
  --main-color-4: #b2c5e7;
  --delete-red: #ff3d3d;
  font-family: "Montserrat";
  font-size: calc(7px + 0.5vw);
  color: white;
  background-color: var(--main-color-3);
}
button {
  appearance: none;
  color:white;
  font-family: "Open Sans";
  font-size: 1rem; 
}

#mainContainer {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40vh 0 0 -40vw;
}

.tabSelectorBtn { 
  display: inline-block;
  font-size: 1.7rem;
  font-family: inherit;
  margin: 0 0 0 0;
  outline: none;
  border-radius: 5px 5px 0px 0px;
  border: 2px solid transparent;
  border-width: 2px 2px 0 2px;
  background-color: var(--main-color-3);
  transition: background-color 0.3s;
}

.activeTabBtn {
  background-color: var(--main-color-1);
  color: white;
  
}


.inactiveTabBtn:hover {
  background-color: var(--main-color-1);
}

.activeTab {
  margin: 0 0 0 0;
  border: 2px solid var(--main-color-1);
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5vh 0.5vw;  
}

.hidden {
  display: none;
  grid-area: none; 
}

#createReminderBtn {
  float: right;
}



#reminderInstancesList {
  padding: 0;
}

.basicBtn {
  border: 2px solid transparent;
  background-color: var(--main-color-1);
  color: white;
  border-radius: 5px 5px 5px 5px;
}

.basicBtn:hover {
  filter:brightness(150%);
}

input[type=text]:focus, textarea:focus {
  border: 0 0 2px 0 solid var(--main-color-1);
  outline:none;
}

input[type=text]:hover, textarea:hover {
  filter:brightness(90%);
}

input[type=text], textarea{
  display: block;
  padding: 1vw 1vh;
  margin: 1%;
  font-family: Montserrat;
  font-size: 1rem;
  border: transparent;
  border-radius: 10px;
  transition: filter 0.3s;
}



.reminderInstanceContainer {
  width: min-content;
  white-space: nowrap;
  padding: 0.3vw;
  margin: 1.5vw;
  animation-name: instanceCreationAnim;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  background-color: var(--main-color-2);
  border-radius: 5px;
}

@keyframes instanceCreationAnim {
  from {
    opacity: 0;
  }
  to {
  opacity: 1;
  }
}
.instanceInput {
  font-family: Montserrat;
  border: transparent;
  border-radius: 5px;
  outline: none;
  padding: 1%;
  margin: inherit;
}

/* .instanceDayPicker {

}
.instanceTimePicker {

} */

.instanceInputLabel {
  display: block;
  margin: 0.3vh;
}

.largerText {
  font-size: 1.3rem;
  font-family: "Open Sans";
}

#deleteInstanceBtn {
  width: 100%;
  height: 10%;
  margin: 0;
}
.deleteBtn:hover {
  /*background-color: var(--main-color-2);*/
  filter: grayscale(50%);
  border-color: var(--delete-red);
}

.deleteBtn {
  display: block;
  background-color: var(--delete-red);
  border: 1px solid var(--delete-red);
  transition: all 0.3s;
  margin: 0.5vh 0;
  width: 100%;
}

@keyframes deleteAnim {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.delete {
  animation: deleteAnim 0.3s;
  animation-fill-mode: forwards; 
}

.activeReminderContainer {
  min-width: 15vw;
  margin: 1vh 0.2vw;
  padding: 0.5vw;
  width: min-content;
  white-space: nowrap;
  background-color: var(--main-color-2);
  border-radius: 5px;
}

.reminderName {
  font-size: 1.2rem;
}

.editReminderBtn {
  display: block;
  background-color: var(--main-color-1);
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0.5vh 0;
  width: 100%;
  transition: all 0.3s;
}

.editReminderBtn:hover {
  filter: brightness(150%);
}

.custom-select-container {
  width: 20vw;
  background-color: var(--main-color-3);
}

.custom-select-opener {
  background-color: var(--main-color-2);
  border-radius: 5px;
  font-size: 1rem;
  overflow: hidden;
}

.custom-select-opener:focus {
  outline: none;
}

.custom-select-panel {
 background-color: var(--main-color-2);
 border-radius: 5px;
 font-size: 1rem;
 transition: max-height .3s ease-out, overflow-y 0.1s 0.5s;
}

.custom-select-option.is-selected {

}

.custom-select-option.is-selected::before {
  content: none;
}
